.App {
    text-align: center;
}

h1 {
    font-size: 90px;
    margin-top: 20px;
}

button {
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 20px;
    border: none;
}

label {
    display: block;
}

input {
    margin: 10px;
    padding: 5px;
}
